<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <meta charset="UTF-8">
  <title>FitApp | s.a.sh.a</title>
</head>

<body>
<div class="content" layout:fragment="content">
  <div class="align" style="background: #bfbfbf; opacity: 0.7">
    <div class="grid">
      <div class="form">

        <h2>Sign in</h2>

        <div th:if="${param.error}" class="message">
          <b>Invalid username or password</b>
        </div>

        <div th:if="${param.logout}" class="message">
          <b>You have been logged out</b>
        </div>

        <form th:action="@{/login}" method="post">
          <div class="form_field">
            <input type="email" name="email" placeholder="your@email.com">
          </div>

          <div class="form_field">
            <input type="password" name="password" placeholder="•••••••">
          </div>

          <div class="form_field">
            <a>Remember Me:</a>
            <input type="checkbox" class="checkmark" name="remember" />
          </div>

          <button class="btn" style="color: black">
            <span></span>
            <span></span>
            <span></span>
            <span></span> Sign in
          </button>
        </form>
        <p>New user? <a href="/" th:href="@{/registration}">Sign up</a></p>
      </div>
    </div>
  </div>
</div>

</body>
</html>