<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/user_layout}">
<head>
    <meta charset="UTF-8">
    <title>FitApp | s.a.sh.a</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <div class="table_name" style="margin-bottom: 20px">ToDo list</div>
    <form th:action="@{/user/__${id}__/todo-list/tasks}" method="post">
        <div class="task-container" style="overflow-y:scroll;">
                <div th:each="task : ${tasks}" class="task" id="tasks">
<!--                    <div th:if="${userEmail} == ${#request.remoteUser}">-->
                        <strong th:text="${task.title}"></strong>
                        <p th:text="${task.content}" style="color: white"></p>
<!--                    </div>-->
                </div>
            </div>
        <div style="display: flex;
                    justify-content: space-around">
        <div class="text-field" style="margin-left: 16px">
            <textarea id="taskTitle" name="taskTitle" class="input-text" placeholder="Title"></textarea>
        </div>
        <div class="text-field">
            <textarea id="taskContent" name="taskContent" class="input-text" placeholder="Task description"></textarea>
        </div>
        </div>
        <div class="btn-confirm">
            <button class="btn" style="font-size: 18px">Add task</button>
        </div>
    </form>
</div>
</body>
</html>