<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/user_layout}">
<head>
    <meta charset="UTF-8">
    <title>FitApp | s.a.sh.a</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <div class="table_name" style="margin-bottom: 20px">ToDo list</div>
    <div th:if="${param.success}" class="message" style="color: crimson; font-size: 20px; margin-bottom: 20px">
        <b>Task was successfully deleted!</b>
    </div>
    <form th:action="@{/user/__${id}__/todo-list/task/add}" method="post">
        <div class="task-container" style="overflow-y:scroll">

            <div th:each="task : ${tasks}" class="task" id="tasks">
                <strong th:text="${task.title}"></strong>
                <p th:text="${task.content}" style="color: white"></p>
                <a th:href="@{/user/__${id}__/task/__${task.id}__/edit}" class="task-href" style="margin-left: auto">
                    Edit
                </a>
                <a th:href="@{/user/__${id}__/task/__${task.id}__/delete}" class="task-href" >
                    Delete
                </a>
            </div>
        </div>

        <div style="display: flex; justify-content: space-around">
            <div class="text-field" style="margin-left: 16px">
                <textarea id="taskTitle" name="taskTitle" class="input-text"
                          placeholder="Title" style="margin-top: 20px;"></textarea>
            </div>
            <div class="text-field">
                <textarea id="taskContent" name="taskContent" class="input-text"
                          placeholder="Task description" style="margin-top: 20px;"></textarea>
            </div>
        </div>
        <div class="btn-confirm">
            <button class="btn" style="font-size: 18px">Add task</button>
        </div>
    </form>
</div>
</body>
</html>